{
  "presets": ["next/babel", "@babel/preset-typescript"],
  "plugins": [
    ["module-resolver", {
      "root": ["./"],
      "alias": {
        "@/components": "./lib/components",
        "@/constants": "./lib/constants",
        "@/tokens": "./lib/tokens",
        "@/utils": "./lib/utils",
        "@/hooks": "./lib/hooks"
      }
    }]
  ]
}