# Babel
.babelrc

# ESLint
.eslintrc

# Tests
jest.config.js
jest.setup.js

# Source
lib/
pages/
styles/
src/
out/
scripts/

# Tests
lib/**/*.test.tsx
lib/**/*.test.ts

# Next
next-env.d.ts
next.config.js
.next/

# Typescript
tsconfig.json
tsconfig.lib.json

# Whitesource
.whitesource

# Husky
.husky